


.header
{
height:100px;
text-align:center;
border:20px;
}
body
{
background-image:linear-gradient(orange,white,green);
}
.form
{
padding-left:40%;
text-align:left;
padding-top:20px;

}
#logo
{
padding-left:70px;

text-align:left;
}
#headers
{
margin-top:-160px;
padding-top:10px;
padding-right:50px;
text-align:center;
border:10px;
height:150px;

}
#all
{
border:5px;
border-color:gold;

padding:0;
margin:0;
}

#call
{
margin-left:1050px;
width:175px;
margin-top:-60px;
text-align:left;
}

ul
{
padding:0px;
list-style:none;
margin:0px;
}

ul li
{
padding-top:7px;
text-align:center;
background-color:lightblue;
font-size:20px;
float:left;
width:220px;
height:30px;
}

ul li a
{
color:blue;

text-decoration:none;

}
ul li a:hover
{
opacity:50px;
background-color:white;

}
ul ul
{
display:none;
}
 ul li:hover > ul 
{
display:block;
}
#contact
{
text-align:center;
font-size:30px;
}
